services:
  backend:
    build:
      context: ./src/backend
    ports:
      - "8003:8003"
    env_file:
      - ./config/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./src/frontend
    ports:
      - "8001:8001"
    depends_on:
      - backend
    restart: unless-stopped
